* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey !important;
}

img {
    border: 3px solid skyblue;
}

.relative {
    position: relative;


}

.absolute {
    position: absolute;
    top: 0%;
    left: 0%;
    max-height: 100%;

}

.w_185 {
    width: 185px;


}

.color {
    color: white;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

p {
    font-size: 12px;
    margin: 0;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    width: 200px;

}

.layer:hover {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1000;

    cursor: pointer;


}


.layer:hover div {
    display: block !important;
}